<div class="container">

<button {{action 'delete' answer}}>Remove answer</button>

<h2>Submit an answer</h2>
  <form>
    <div class="form-group">
      <label for="answer-input">Type your answer here:</label>
      {{input value=userAnswer id="userAnswer"}}
    </div>

    <div class="form-group">
      <label for="answer-author">Enter your name:</label>
      {{input value=userAnswerAuthor id="userAnswerAuthor"}}

      <div>
        <button class="btn btn-success" {{action 'saveAnswer'}}>Post answer</button>
      </div>
    </div>
  </form>
</div>
