
{{#link-to 'question-route' question.id}}
  {{question.questionAuthor}}'s asked
  "{{question.question}}?"
{{/link-to}}

<p>{{answerToQuestion}} answers</p>

{{#link-to 'favorite-questions-route'}}
<span {{action 'markFavQuestion' question}} class="glyphicon glyphicon-heart"> Favorite</span>
{{/link-to}}
