<div class="container">
  <h3><em>{{question.questionAuthor}}</em></h3> <strong>asked:<br></strong> <br>
  <div>
    {{question.question}}
  </div>

  <div>
  <h4>Additional details about this question:</h4>
  <p>{{question.additionalInfo}}</p>
  </div>

  <button class="delete-btn" {{action 'delete' question}}>Delete</button>
</div>
