<div class="container" id="q-detail-container">
  <div class="row">
    <p class="question-details">{{question.questionAuthor}}  <strong>asked:</strong></p>
    <div>
      <strong id="">{{question.question}}</strong>
    </div>

    <div>
    <h4>Additional details about this question:</h4>
    <p class="addInfo">{{question.additionalInfo}}</p>
    </div>
</div>

  <button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
</div>
