<div>
  <h3>View this question:</h3>
</div>
<div>
  {{model.question}}
</div>
<div>
  by {{model.questionAuthor}}
</div>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
